@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Protest+Guerrilla&display=swap');

body{
   background-color: burlywood; 
}

.heading{
    text-align: center;
}

.playground-heading{
    color: darkcyan;
    font-family: "Fascinate Inline", system-ui;
    font-size: 5rem;
}

.main{
    border: 3px solid grey; 
    width: 55%;
    margin: 1rem auto;
}

.main div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;

}

#red {
    border-color: red;
}

#green{
    border-color: green;
}

#blue{
    border-color: blue;
}

.footer{
    color: blueviolet;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem ;
}

